@charset "UTF-8";

body{
    text-align: center;
    background: linear-gradient(to bottom, black, gray);
}

h1{
    color: white;
}


footer{
    text-align: center;
    background-color: white;
}

nav{
    background-color: red;
}

#nav{
    color: white;
}